#!/usr/bin/env bash

eval $(thefuck --alias)

# Easier navigation: .., ..., ...., .....
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# utilities
alias :q="poweroff"
alias du='du -h'
alias pbcopy='xclip -selection clipboard'
alias pbpaste='xclip -selection clipboard -o'

#git
alias g='git'
alias ga='git add'
alias gap='git add -p'
alias gaa='git add -A'
alias gs='git status'
alias gm='git merge'
alias gma='git merge -'
alias gl='git log'
alias gl1='git log -n1'
alias gc='git checkout'
alias gca='git checkout -'
alias gcb='git checkout -b'
alias gcommit='git commit -m'
alias gcommitall='git commit -am'
alias gpush='git push'
alias gpushd='git push --delete origin'
alias gpusho='git push -u origin $(git branch | grep \* | tr " " "\n" | tail -n1)'
alias gpull='git pull'
alias grestore='git restore'
alias grestore-staged='git restore --staged'
alias greset='git reset --hard'
alias gb='git branch'
alias gbd='git branch -D'
alias gdiff='git diff'
alias ginit='git init'

#mermaid 
alias mmdc='docker run --rm -u `id -u`:`id -g` -v ./:/data minlag/mermaid-cli'

#maven
alias m='mvn'
alias mc='mvn clean'
alias mi='mvn install'
alias mci='mvn clean install -U'
alias mt='mvn test'
alias mci-skip-tests='mvn clean install -U -DskipTests'
alias mt-skip-tests='mvn test -DskipTests'
alias msources='mvn dependency:sources'
alias mtree='mvn dependency:tree'

#docker
alias d='docker'
alias dps'docker ps'
alias dpsa='docker ps -a'
alias dstop='docker stop'
alias dstart='docker start'

#jupyter
alias j='jupyter'
alias j-notebook='jupyter notebook &'
alias jupytext-bind='jupytext --set-formats ipynb,py:percent '

#pytorch
alias pytorch='source ~/build/pytorch/bin/activate'

#flutter
alias f='flutter'
alias fd='flutter doctor'
alias frun='flutter run'
alias fget='flutter pub get'
alias fadd='flutter pub add'
alias fremove='flutter pub remove'
alias sdkmanager='sdkmanager --sdk_root=${ANDROID_HOME}'

