#!/usr/bin/env bash

# Easier navigation: .., ..., ...., .....
alias cd="z"
alias cda="z -"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias dot="cd $DOT_FILES"

# utilities
alias :q="poweroff"
alias cat='bat'
alias bat='bat'
alias ls='eza'
alias la='ls -a'
alias ß='ls'
alias du='du -h'
alias cp='cp -i'
alias apply='paplay'
alias mkdirp='mkdir -p'
alias shex='chmod +x'
alias python='python3'
alias pip='pip3'

# zmk
alias cygnus-help='open "https://github.com/Pongelupe/cygnus-zmk-config"'

# aliases and configs
alias a='aliases'
alias ae='aliases -e'
compdef _aliases a ae

# vim
alias v='vim'
alias vl1='vim "$(grep "^>" ~/.viminfo | head -1 | cut -c3- | sed "s|^~|$HOME|")"'
alias vpinstall='vim +"PlugInstall --sync" +qall'
alias vpupdate='vim +"PlugUpdate --sync" +qall'
alias vpclean='vim +"PlugClean --sync" +qall'
alias av='cat ~/.vimrc'
alias av-edit='vim ~/.vimrc'
alias dadbod='vim +"DBUI"'

# oh-my-zsh
alias emoji='print_emoji_by_name'
alias emojir='random_emoji'
alias emojis='display_emoji'
alias emojisg='display_emoji | grep'

